@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Online Store</h1>
    <p class="lead">Browse our amazing collection of products</p>
    <p>
        <a asp-controller="Products" asp-action="Index" class="btn btn-primary btn-lg">View Products</a>
    </p>
</div>
